<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<transmission name="ige_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="idol_gear_joint">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="ige_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="igr_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="idol_grip_joint">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="igr_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="sge_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="servo_gear_joint">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="sge_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="sgr_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="servo_grip_joint">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="sgr_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

</robot>
