<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="modelo">

  <!-- base Link -->
  <gazebo reference="base_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <!-- Link1 -->
  <gazebo reference="link_1">
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- Link2 -->
  <gazebo reference="link_2">
    <material>Gazebo/Orange</material>
  </gazebo>

  <!-- Link3 -->
  <gazebo reference="link_3">
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- Link4 -->
  <gazebo reference="link_4">
    <material>Gazebo/Orange</material>
  </gazebo>

  <!-- Link5 -->
  <gazebo reference="link_5">
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- Link6 -->
  <gazebo reference="link_6">
    <material>Gazebo/Orange</material>
  </gazebo>

  <!-- Link7 -->
  <gazebo reference="link_7">
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- garra -->
  <gazebo reference="garra">
    <material>Gazebo/Orange</material>
  </gazebo>

  <!-- NEMA17 1 -->
  <gazebo reference="NEMA17_1">
    <material>Gazebo/Red</material>
  </gazebo>

  <!-- NEMA17 2 -->
  <gazebo reference="NEMA17_2">
    <material>Gazebo/Red</material>
  </gazebo>

  <!-- NEMA23 1 -->
  <gazebo reference="NEMA23_1">
    <material>Gazebo/Red</material>
  </gazebo>

  <!-- NEMA23 2 -->
  <gazebo reference="NEMA23_2">
    <material>Gazebo/Red</material>
  </gazebo>

</robot>