<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<!-- -->
	<transmission name="j1_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_1">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="j1_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="j2_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_2">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="j2_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="j3_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_3">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="j3_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="j4_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_4">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="j4_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

	<transmission name="j5_transmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="joint_5">
			<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="j5_motor">
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
	</transmission>

</robot>
